<nav>
    <ul>
        <li>
            <a href="/api/productos/agregar">Agregar Productos</a>
        </li>
        <li>
            <a href="/api/productos">Ver Productos</a>
        </li>
    </ul>
</nav>