<div>
    <a href="/api/productos/agregar">Agregar Productos</a>
    <a href="/api/productos">Ver Productos</a>
</div>
<form action="/api/productos" method="post">
    Nombre del Producto: <input type="text" name="title">
    Precio: <input type="number" name="price">
    Foto(Url): <input type="text" name="thumbnail">
    <button>Enviar</button>
</form>