{{!--datos.hbs --}}
{{#if listExist}}
    <ul>
        {{#each productos}}
            <li>{{title}}</li
            <li>{{price}}</li>
            <li>{{thumbnail}}</li>
            <li>{{id}}</li>
            <p>------------------------</p>
        {{/each}}
    </ul>
{{/if}}