{{!--datos.hbs --}}
<div>
    <a href="/api/productos/agregar">Agregar Productos</a>
    <a href="/api/productos">Ver Productos</a>
</div>


{{#if listExist}}
    <ul>
        {{#each productos}}
            <li>{{title}}</li
            <li>{{price}}</li>
            <li>{{thumbnail}}</li>
            <li>{{id}}</li>
            <p>------------------------</p>
        {{/each}}
    </ul>
{{/if}}