html
    body
        ul
        each val, i in productos
            li=productos[i].title
            li=productos[i].price
            li=productos[i].thumbnail
            li=productos[i].id
            span ----------------------