<h2>Login</h2>
<span>Crear Cuenta <a href="/api/usuario/signup">aqui</a></span>
<div>

    <form action="/api/usuario/login" method="POST">

        <div>
            <div >
                <span id="basic-addon1">Usuario</span>
                <input type="text" name="user" required placeholder="Usuario" aria-label="Usuario" aria-describedby="basic-addon1">
            </div>
        </div>

        <div>
            <div >
                <span id="basic-addon2">Contraseña</span>
                <input type="password" name="pass" required placeholder="Password" aria-label="Password" aria-describedby="basic-addon1">
            </div>
        </div>

        <div >
            <div >
                <button type="submit">Log in</buttontype>
            </div>
        </div>



    </form>
</div>