<button id="logoutbtn">Logout</button>
<h1>Hola {{user.nombre}}</h1>

<div>
    <form id="agregarProductoForm">
        <div>
            <label>Titulo del Libro</label>
            <input name="title">
        </div>
        <div>
            <label>Descripcion</label>
            <input name="description">
        </div>
        <div>
            <label>Codigo de producto</label>
            <input name="code">
        </div>
        <div>
            <label>Foto del Libro</label>
            <input name="thumbnail">
        </div>
        <div>
            <label>Precio</label>
            <input name="price">
        </div>
        <div>
            <label>Stock</label>
            <input name="stock">
        </div>
        <input type="submit">
    </form>
</div>


<script src="js/home.js"></script>