<div>
    <form id="loginForm">
        <div>
            <label>Email</label>
            <input name="email">
        </div>
        <div>
            <label>Contraseña</label>
            <input  type="password" name="password">
        </div>
        <input type="submit">
        
    </form>
    <br>
    <a style="color: black; text-decoration:none; border:1px solid black; padding:4px;" href="https://d-leser-production.up.railway.app/register">Registrarse</a>


</div>
<script src="js/login.js"></script>