<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="/socket.io/socket.io.js"></script> 
</head>

<body class="container">
    <main>
        <%- include('../partials/agregarProductos.ejs') %>
        <%- include('../partials/verProductos.ejs') %>
        <%- include('../partials/mensajes.ejs') %>
        <script src="../main.js"></script>        
    </main>
</body>

</html>