<form onsubmit="return addProducto(this)">
    <h3>Cargar Productos</h3>
    Nombre del Producto: <input type="text" name="title" id="cargarProductoTitle"  required>
    Precio: <input type="number" name="price" id="cargarProductoPrice" required>
    Foto(Url): <input type="text" name="thumbnail" id="cargarProductoFoto" required>
    <input type="submit" value="Send" />
</form>
<!-- <button id="cargarProducto">Agregar</button> -->