<form action="/api/productos" method="post">
    <h3>Cargar Productos</h3>
    Nombre del Producto: <input type="text" name="title" id="cargarProductoTitle">
    Precio: <input type="number" name="price" id="cargarProductoPrice">
    Foto(Url): <input type="text" name="thumbnail" id="cargarProductoFoto">
    <input type="submit" id="cargarProducto">
</form>