<form onsubmit="return addMessage(this)">
    <h3>Mensajes</h3>
    <input type="email" id="username" placeholder="Tu Nombre" required/>
    <input type="mensaje" id="texto" placeholder="Cuéntanos algo..." required/>
    <input type="submit" value="Enviar" />
</form>
<div id="mensajes"></div>